body{
	background-color: lightpink;
}
p{
	font-size: 50px;
	font-family: cursive;
	color: dimgray;
	background-color: gold;
	display: inline;
}
span{
	border: dashed 2px red;
	display: inline-block;
}
#first{
	background-color: silver;
	width: 500px;
	height: 500px;
	justify-content: center;
	align-items: center;
	display: flex;
	font-size: 50px;
	border-style: dotted dashed;
	border-width: 20px;
	border-color: white azure;
}
#second{
	width: 600px;
	height: 600px;
	background-color: lightseagreen;
	border-image: linear-gradient(orange,lime) 30;
	border-width: 30px;
	border-style: solid;
	margin: 100px;
}
#third, #forth{
	width: 900px;
	height: 150px;
	background-color: lightgoldenrodyellow;
	margin: 20px;
	border-style: double;
	border-width: 20px;
	border-color: dimgray;
	padding: 20px;
}