body{
	background-image: url(https://learn.g2.com/hs-fs/hubfs/plan%20gif%20marketing%20strategy.gif?width=500&name=plan%20gif%20marketing%20strategy.gif);
	background-size: 200px;
	background-position: 100%, 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
p{
	font-size: 50px;
	color: orange;
}
.p1{
	text-align: center;
	background-color: lime;
}